## Importing Libraries

In [24]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import ast
import json
from numpy import nan
import lightgbm as lgb
from sklearn.preprocessing import MinMaxScaler
from xgboost import XGBRegressor
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import warnings
warnings.filterwarnings('ignore')

## Pathing to Data

In [25]:
data_train = 'train.csv'
train = pd.read_csv(data_train)
print(len(train))
data_test = 'test.csv'
test = pd.read_csv(data_test)

train.tail(3)

3000

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [26]:
test.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."

## Preprocessing

1. Combine the training and test sets for easier and better Preprocessing.
2. Figure out what the columns that can impact the revenue a movie makes
3. Look at the column typ and makes necessary changes to it.

### Training Set and Testing Set

In [27]:
full_data = pd.concat([train, test], axis = 0)
print(full_data.shape )
full_data.head(3)

(7398, 23)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651.0
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435.0
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000.0

In [28]:
dataframe = full_data.loc[:,['budget', 'original_language', 'popularity', 'runtime', 'release_date']]
dataframe = dataframe.fillna(0)
dataframe['original_language'] = dataframe['original_language'].astype('category')
dataframe['original_language'] = dataframe['original_language'].cat.codes

# Using the main dataframe `full_data` for this column
full_data['genres'] = full_data['genres'].astype('str')
dataframe['release_date'] = pd.to_datetime(dataframe['release_date'])
dataframe['release_date'] = dataframe['release_date'].dt.year
dataframe.head(3)

     budget  original_language  popularity  runtime  release_date
0  14000000                 10    6.575393     93.0          2015
1  40000000                 10    8.248895    113.0          2004
2   3300000                 10   64.299990    105.0          2014

In [29]:
for i in range(len(full_data.genres)):

  try:
    x = eval(full_data.genres[i])
    genres = [sub['name'] for sub in x]
    full_data.genres[i] = genres
  except:
    pass

In [30]:
genr = full_data['genres'].copy()
dataframe = pd.concat([dataframe, genr], axis = 1)
dataframe.head()

,budget,original_language,popularity,runtime,release_date,genres
0,14000000,10,6.575393,93.0,2015,"[{'id': 35, 'name': 'Comedy'}]"
1,40000000,10,8.248895,113.0,2004,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,3300000,10,64.299990,105.0,2014,"[{'id': 18, 'name': 'Drama'}]"
3,1200000,16,3.174936,122.0,2012,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n..."
4,0,24,1.148070,118.0,2009,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."

In [31]:
dataframe['genres'] = dataframe['genres'].astype(str)
dataframe['genres'] = dataframe['genres'].str.split(",",n = 3, expand = True)
dataframe['genres'] = dataframe['genres'].replace('"[', '').replace(']"', '').replace("'", '')
dataframe['genres'] = dataframe['genres'].str.strip('[]').astype('category')
dataframe['genres'] = dataframe['genres'].cat.codes
dataframe.head()

     budget  original_language  popularity  runtime  release_date  genres
0  14000000                 10    6.575393     93.0          2015      32
1  40000000                 10    8.248895    113.0          2004      32
2   3300000                 10   64.299990    105.0          2014      29
3   1200000                 16    3.174936    122.0          2012      35
4         0                 24    1.148070    118.0          2009      31

In [32]:
y = train['revenue']
print(len(y))
y.head()

3000

0    12314651
1    95149435
2    13092000
3    16000000
4     3923970
Name: revenue, dtype: int64

### Lets now separate the dataframe in X_train and X_test

In [33]:
X_train = dataframe.iloc[:3000, :]
X_test = dataframe.iloc[3000:, :]

In [34]:
# Filling in the missing values in `runtime` column

X_train['runtime'].fillna(X_train['runtime'].median(), inplace = True)
X_test['runtime'].fillna(X_test['runtime'].median(), inplace = True)

### Implimenting MinMaxScaler

In [35]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_train = pd.DataFrame(X_train, columns= dataframe.columns)
X_train.head()

     budget  original_language  popularity   runtime  release_date  genres
0  0.036842           0.214286    0.022340  0.275148      0.444444    0.65
1  0.105263           0.214286    0.028025  0.334320      0.333333    0.65
2  0.008684           0.214286    0.218457  0.310651      0.434343    0.50
3  0.003158           0.357143    0.010787  0.360947      0.414141    0.80
4  0.000000           0.547619    0.003901  0.349112      0.383838    0.60

In [36]:
scaler = MinMaxScaler()
X_test = scaler.fit_transform(X_test)
X_test = pd.DataFrame(X_test, columns= dataframe.columns)
X_test.head()

     budget  original_language  popularity   runtime  release_date    genres
0  0.000000           0.488372    0.007035  0.281250          0.37  0.666667
1  0.000338           0.232558    0.006502  0.203125          0.88  0.769231
2  0.000000           0.232558    0.014768  0.312500          0.27  0.820513
3  0.026154           0.325581    0.015701  0.406250          0.40  0.743590
4  0.007692           0.232558    0.005877  0.287500          0.35  0.846154

In [37]:
print("Training Set Length is:", len(X_train))
print("Testing Set Length is:", len(X_test))

Training Set Length is: 3000
Testing Set Length is: 4398

## ML Models to Predict `revenue`

1. RandomForestRegressor
2. XGBRegressor
3. ANN Model Deep Learning
3. LGBMRegression

### RandomForest

In [38]:
# RandomForestRegressor
rf = RandomForestRegressor(random_state=44)
rf.fit(X_train, y)
y_preds_rf = rf.predict(X_test)

In [39]:
y_preds_rf # RSMLE = 2.55753

array([ 8490865.42,  9894133.31,  7857207.55, ..., 46395423.7 ,
       20997351.04, 17018240.99])

### Hyperparameter Tuning `RandomForest`

In [40]:
param_grid = [
{'n_estimators': [10, 25], 
 #'max_features': [0, 4, 6], 
 'max_depth': [10, 50, None], 'bootstrap': [True, False]}
]

grid_search_forest = GridSearchCV(rf, param_grid, cv=10)
grid_search_forest.fit(X_train, y)
grid_search_forest.best_estimator_

RandomForestRegressor(max_depth=10, n_estimators=25, random_state=44)

In [41]:
rf = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=25, n_jobs=None, oob_score=False,
                      random_state=44, verbose=0, warm_start=False)
rf.fit(X_train, y)
y_preds_rf = rf.predict(X_test)
y_preds_rf #  RSMLE 2.6

array([ 5200932.26592148,  6037150.39786558,  7550227.73058032, ...,
       44379508.45604303,  9888618.06894189,  9278429.54864628])

### XGBRegressor and Hyperparameter Tuning

> Takes too long too run

In [ ]:
# XGBoost Regressor With Hyperparameter Tuning

param_tuning = {
    'learning_rate': [0.01, 0.1],
    'max_depth': [3, 5, 7, 10],
    'min_child_weight': [1, 3, 5],
    'subsample': [0.5, 0.7],
    'colsample_bytree': [0.5, 0.7],
    'n_estimators' : [100, 200, 500],
    'objective': ['reg:squarederror']
}

xgb_model = XGBRegressor(random_state=44)

gsearch = GridSearchCV(estimator = xgb_model,
                        param_grid = param_tuning,                        
                        cv = 5,
                        n_jobs = -1,
                        verbose = 1)

gsearch.fit(X_train,y)
gsearch.best_params_

In [ ]:
# Fitting the data using the best Xgb params 

xgb = XGBRegressor(colsample_bytree = 0.5,
 learning_rate = 0.01,
 max_depth = 3,
 min_child_weight = 5,
 n_estimators = 500,
 objective = 'reg:squarederror',
 subsample = 0.5).fit(X_train, y)

y_preds_xgb = xgb.predict(X_test)
y_preds_xgb # RSMLE 3.2

### Deep Learning ANN Model

In [42]:
import tensorflow as tf
from tensorflow import keras

ann_model = keras.models.Sequential()
ann_model.add(keras.layers.Dense(5000 , activation="relu", input_shape=X_train.shape[1:]))
ann_model.add(keras.layers.Dense(1000, activation="relu"))
ann_model.add(keras.layers.Dense(2000, activation="relu"))
ann_model.add(keras.layers.Dense(100, activation="relu"))
ann_model.add(keras.layers.Dense(500, activation="relu"))
ann_model.add(keras.layers.Dense(X_train.shape[1], activation="relu"))
ann_model.add(keras.layers.Dense(1))

#model.compile(loss="sparse_categorical_crossentropy", optimizer="sgd", metrics=["accuracy"])
ann_model.compile(loss="mean_squared_logarithmic_error", optimizer=keras.optimizers.SGD(lr=1e-1))
history = ann_model.fit(X_train, y, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
75/75 [==============================] - 2s 27ms/step - loss: 72.2143 - val_loss: 8.9596
Epoch 2/100
75/75 [==============================] - 2s 23ms/step - loss: 9.8749 - val_loss: 8.2618
Epoch 3/100
75/75 [==============================] - 2s 23ms/step - loss: 9.5377 - val_loss: 8.1798
Epoch 4/100
75/75 [==============================] - 2s 23ms/step - loss: 9.6063 - val_loss: 8.1429
Epoch 5/100
75/75 [==============================] - 2s 23ms/step - loss: 9.0347 - val_loss: 8.1310
Epoch 6/100
75/75 [==============================] - 2s 24ms/step - loss: 9.7264 - val_loss: 8.1227
Epoch 7/100
75/75 [==============================] - 2s 23ms/step - loss: 9.3253 - val_loss: 8.1173
Epoch 8/100
75/75 [==============================] - 2s 23ms/step - loss: 10.6090 - val_loss: 8.0922
Epoch 9/100
75/75 [==============================] - 2s 23ms/step - loss: 9.7201 - val_loss: 8.1018
Epoch 10/100
75/75 [==============================] - 2s 23ms/step - loss: 8.9912 - val_loss: 8.0990
Epoch 11/100
75/75 [==============================] - 2s 23ms/step - loss: 8.9366 - val_loss: 8.0882
Epoch 12/100
75/75 [==============================] - 2s 23ms/step - loss: 9.5995 - val_loss: 8.0734
Epoch 13/100
75/75 [==============================] - 2s 23ms/step - loss: 9.7415 - val_loss: 8.0696
Epoch 14/100
75/75 [==============================] - 2s 24ms/step - loss: 9.6963 - val_loss: 8.0622
Epoch 15/100
75/75 [==============================] - 2s 24ms/step - loss: 9.5940 - val_loss: 8.0496
Epoch 16/100
75/75 [==============================] - 2s 24ms/step - loss: 11.3104 - val_loss: 8.0362
Epoch 17/100
75/75 [==============================] - 2s 23ms/step - loss: 10.0118 - val_loss: 8.0343
Epoch 18/100
75/75 [==============================] - 2s 23ms/step - loss: 9.5911 - val_loss: 8.0341
Epoch 19/100
75/75 [==============================] - 2s 25ms/step - loss: 10.0574 - val_loss: 8.0196
Epoch 20/100
75/75 [==============================] - 2s 25ms/step - loss: 9.2830 - val_loss: 8.0095
Epoch 21/100
75/75 [==============================] - 2s 24ms/step - loss: 9.6219 - val_loss: 8.0015
Epoch 22/100
75/75 [==============================] - 2s 25ms/step - loss: 10.5125 - val_loss: 7.9830
Epoch 23/100
75/75 [==============================] - 2s 24ms/step - loss: 9.4172 - val_loss: 7.9882
Epoch 24/100
75/75 [==============================] - 2s 24ms/step - loss: 9.5378 - val_loss: 7.9777
Epoch 25/100
75/75 [==============================] - 2s 25ms/step - loss: 9.3680 - val_loss: 7.9662
Epoch 26/100
75/75 [==============================] - 2s 24ms/step - loss: 9.2159 - val_loss: 7.9577
Epoch 27/100
75/75 [==============================] - 2s 24ms/step - loss: 8.9447 - val_loss: 7.9394
Epoch 28/100
75/75 [==============================] - 2s 25ms/step - loss: 9.3246 - val_loss: 7.9247
Epoch 29/100
75/75 [==============================] - 2s 25ms/step - loss: 8.8986 - val_loss: 7.9043
Epoch 30/100
75/75 [==============================] - 2s 25ms/step - loss: 9.6771 - val_loss: 7.8796
Epoch 31/100
75/75 [==============================] - 2s 25ms/step - loss: 9.6043 - val_loss: 7.8683
Epoch 32/100
75/75 [==============================] - 2s 24ms/step - loss: 9.0637 - val_loss: 7.8448
Epoch 33/100
75/75 [==============================] - 2s 24ms/step - loss: 8.8890 - val_loss: 7.8274
Epoch 34/100
75/75 [==============================] - 2s 24ms/step - loss: 9.6901 - val_loss: 7.7786
Epoch 35/100
75/75 [==============================] - 2s 24ms/step - loss: 8.9276 - val_loss: 7.7470
Epoch 36/100
75/75 [==============================] - 2s 24ms/step - loss: 8.9801 - val_loss: 7.6975
Epoch 37/100
75/75 [==============================] - 2s 24ms/step - loss: 8.7464 - val_loss: 7.6300
Epoch 38/100
75/75 [==============================] - 2s 24ms/step - loss: 9.4711 - val_loss: 7.5130
Epoch 39/100
75/75 [==============================] - 2s 24ms/step - loss: 7.8952 - val_loss: 7.3946
Epoch 40/100
75/75 [==============================] - 2s 24ms/step - loss: 9.3452 - val_loss: 7.0542
Epoch 41/100
75/75 [==============================] - 2s 24ms/step - loss: 8.5501 - val_loss: 6.8168
Epoch 42/100
75/75 [==============================] - 2s 24ms/step - loss: 7.8027 - val_loss: 6.5173
Epoch 43/100
75/75 [==============================] - 2s 24ms/step - loss: 8.8425 - val_loss: 6.3531
Epoch 44/100
75/75 [==============================] - 2s 24ms/step - loss: 7.6691 - val_loss: 5.9993
Epoch 45/100
75/75 [==============================] - 2s 24ms/step - loss: 7.6505 - val_loss: 5.7551
Epoch 46/100
75/75 [==============================] - 2s 24ms/step - loss: 8.3130 - val_loss: 5.5909
Epoch 47/100
75/75 [==============================] - 2s 24ms/step - loss: 6.7641 - val_loss: 5.4763
Epoch 48/100
75/75 [==============================] - 2s 24ms/step - loss: 7.9996 - val_loss: 5.2339
Epoch 49/100
75/75 [==============================] - 2s 25ms/step - loss: 6.7617 - val_loss: 4.9498
Epoch 50/100
75/75 [==============================] - 2s 25ms/step - loss: 7.0839 - val_loss: 4.9978
Epoch 51/100
75/75 [==============================] - 2s 24ms/step - loss: 6.6734 - val_loss: 5.3642
Epoch 52/100
75/75 [==============================] - 2s 24ms/step - loss: 6.2865 - val_loss: 5.0862
Epoch 53/100
75/75 [==============================] - 2s 24ms/step - loss: 6.6022 - val_loss: 4.8111
Epoch 54/100
75/75 [==============================] - 2s 24ms/step - loss: 6.7100 - val_loss: 4.7090
Epoch 55/100
75/75 [==============================] - 2s 25ms/step - loss: 5.9291 - val_loss: 4.6123
Epoch 56/100
75/75 [==============================] - 2s 24ms/step - loss: 5.3686 - val_loss: 4.5850
Epoch 57/100
75/75 [==============================] - 2s 24ms/step - loss: 5.9127 - val_loss: 4.8917
Epoch 58/100
75/75 [==============================] - 2s 24ms/step - loss: 7.2267 - val_loss: 4.8221
Epoch 59/100
75/75 [==============================] - 2s 24ms/step - loss: 6.2004 - val_loss: 5.8160
Epoch 60/100
75/75 [==============================] - 2s 24ms/step - loss: 6.8505 - val_loss: 4.5478
Epoch 61/100
75/75 [==============================] - 2s 24ms/step - loss: 6.1612 - val_loss: 4.6104
Epoch 62/100
75/75 [==============================] - 2s 24ms/step - loss: 6.3865 - val_loss: 4.6581
Epoch 63/100
75/75 [==============================] - 2s 24ms/step - loss: 6.6739 - val_loss: 4.3827
Epoch 64/100
75/75 [==============================] - 2s 24ms/step - loss: 5.2924 - val_loss: 4.6955
Epoch 65/100
75/75 [==============================] - 2s 24ms/step - loss: 6.0011 - val_loss: 4.5547
Epoch 66/100
75/75 [==============================] - 2s 24ms/step - loss: 5.7665 - val_loss: 4.5126
Epoch 67/100
75/75 [==============================] - 2s 24ms/step - loss: 6.6075 - val_loss: 4.4511
Epoch 68/100
75/75 [==============================] - 2s 24ms/step - loss: 6.1229 - val_loss: 5.0715
Epoch 69/100
75/75 [==============================] - 2s 24ms/step - loss: 6.0131 - val_loss: 4.3982
Epoch 70/100
75/75 [==============================] - 2s 24ms/step - loss: 6.0921 - val_loss: 4.7412
Epoch 71/100
75/75 [==============================] - 2s 24ms/step - loss: 6.8688 - val_loss: 4.5660
Epoch 72/100
75/75 [==============================] - 2s 24ms/step - loss: 6.6027 - val_loss: 4.3004
Epoch 73/100
75/75 [==============================] - 2s 24ms/step - loss: 6.2141 - val_loss: 5.8758
Epoch 74/100
75/75 [==============================] - 2s 25ms/step - loss: 6.2163 - val_loss: 4.9174
Epoch 75/100
75/75 [==============================] - 2s 24ms/step - loss: 5.3669 - val_loss: 4.3369
Epoch 76/100
75/75 [==============================] - 2s 24ms/step - loss: 6.2372 - val_loss: 4.2754
Epoch 77/100
75/75 [==============================] - 2s 24ms/step - loss: 5.8629 - val_loss: 4.3138
Epoch 78/100
75/75 [==============================] - 2s 25ms/step - loss: 5.3198 - val_loss: 4.2748
Epoch 79/100
75/75 [==============================] - 2s 25ms/step - loss: 6.2600 - val_loss: 4.1754
Epoch 80/100
75/75 [==============================] - 2s 25ms/step - loss: 6.1812 - val_loss: 5.4263
Epoch 81/100
75/75 [==============================] - 2s 24ms/step - loss: 6.3178 - val_loss: 4.6195
Epoch 82/100
75/75 [==============================] - 2s 24ms/step - loss: 5.7130 - val_loss: 4.3285
Epoch 83/100
75/75 [==============================] - 2s 25ms/step - loss: 6.1408 - val_loss: 4.2551
Epoch 84/100
75/75 [==============================] - 2s 24ms/step - loss: 5.7743 - val_loss: 4.2328
Epoch 85/100
75/75 [==============================] - 2s 24ms/step - loss: 6.5558 - val_loss: 5.3120
Epoch 86/100
75/75 [==============================] - 2s 24ms/step - loss: 6.2128 - val_loss: 4.2615
Epoch 87/100
75/75 [==============================] - 2s 24ms/step - loss: 6.1961 - val_loss: 4.1792
Epoch 88/100
75/75 [==============================] - 2s 24ms/step - loss: 5.0865 - val_loss: 5.7571
Epoch 89/100
75/75 [==============================] - 2s 25ms/step - loss: 6.2553 - val_loss: 4.3806
Epoch 90/100
75/75 [==============================] - 2s 25ms/step - loss: 5.6047 - val_loss: 4.2702
Epoch 91/100
75/75 [==============================] - 2s 24ms/step - loss: 5.7802 - val_loss: 4.2990
Epoch 92/100
75/75 [==============================] - 2s 25ms/step - loss: 5.7224 - val_loss: 4.4099
Epoch 93/100
75/75 [==============================] - 2s 24ms/step - loss: 6.0331 - val_loss: 4.2737
Epoch 94/100
75/75 [==============================] - 2s 24ms/step - loss: 5.9716 - val_loss: 5.4017
Epoch 95/100
75/75 [==============================] - 2s 24ms/step - loss: 5.5550 - val_loss: 4.8442
Epoch 96/100
75/75 [==============================] - 2s 24ms/step - loss: 4.9933 - val_loss: 4.7972
Epoch 97/100
75/75 [==============================] - 2s 24ms/step - loss: 5.9396 - val_loss: 4.4816
Epoch 98/100
75/75 [==============================] - 2s 25ms/step - loss: 6.7987 - val_loss: 4.4391
Epoch 99/100
75/75 [==============================] - 2s 28ms/step - loss: 5.8718 - val_loss: 4.3092
Epoch 100/100
75/75 [==============================] - 2s 25ms/step - loss: 6.3160 - val_loss: 4.2548

In [43]:
final_model = ann_model
final_predictions = final_model.predict(X_test)
final_predictions # RSMLE = 2.44 ON KAGGLE

array([[  355788.9 ],
       [  920661.8 ],
       [  642327.44],
       ...,
       [37921730.  ],
       [ 1868846.  ],
       [ 1926150.2 ]], dtype=float32)

#### Creating a validation set for LGBMRegression Model

In [44]:
# Creating a validation set

X_train, X_val, y_train, y_val = train_test_split(X_train, y, test_size=0.2)

### LightGBM

In [45]:
params = {'objective':'regression',
         'num_leaves' : 30,
         'min_data_in_leaf' : 20,
         'max_depth' : 9,
         'learning_rate': 0.004,
         #'min_child_samples':100,
         'feature_fraction':0.9,
         "bagging_freq": 1,
         "bagging_fraction": 0.9,
         'lambda_l1': 0.2,
         "bagging_seed": 11,
         "metric": 'rmse',
         #'subsample':.8, 
          #'colsample_bytree':.9,
         "random_state" : 11,
         "verbosity": -1}
record = dict()
model = lgb.train(params
                      , lgb.Dataset(X_train, y_train)
                      , num_boost_round = 100000
                      , valid_sets = [lgb.Dataset(X_val, y_val)]
                      , verbose_eval = 500
                      , early_stopping_rounds = 500
                      , callbacks = [lgb.record_evaluation(record)]
                     )
best_idx = np.argmin(np.array(record['valid_0']['rmse']))

test_pred = model.predict(X_test, num_iteration = model.best_iteration)# LGBMRegressor
test_pred # RSMLE 2.8

Training until validation scores don't improve for 500 rounds
[500]	valid_0's rmse: 7.08181e+07
[1000]	valid_0's rmse: 6.91692e+07
Early stopping, best iteration is:
[873]	valid_0's rmse: 6.914e+07

array([ 7260247.84389243,  6175086.19452963,  7044947.30542968, ...,
       41686547.25315428, 15375417.88791783, 13088185.63780073])

## Creating Submission File

* Made using `finalpredictions` from ANN Model

In [47]:
preds = pd.DataFrame(final_predictions, columns=['revenue'])
submission = pd.concat([test['id'], preds], axis=1)
submission.head()
submission.to_csv('submission.csv', index=False)